<h1>Home Page</h1>

<img src = "https://images.unsplash.com/photo-1596420661047-d5debc649383?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">

<a href = "/about"> Go to the About page</a>
